<!-- MEDIA DIV 1 -->
<div class="media">
  <div class="media__image">
    <span class="snap__icon">
      <span class="icon icon--primary"></span>
    </span>
  </div>
  <div class="media__body">
    <h3 class="media__title">Easy Start & Managed Updates</h3>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet molestias
      hic itaque est ab quia accusantium quam porro suscipit consequuntur!
    </p>
  </div>
</div>
<!-- MEDIA DIV 2 -->
<div class="media">
  <div class="media__image">
    <span class="growth__icon">
      <span class="icon icon--primary"></span>
    </span>
  </div>
  <div class="media__body">
    <h3 class="media__title">Staging, GIT & WP-CLI</h3>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet molestias
      hic itaque est ab quia accusantium quam porro suscipit consequuntur!
    </p>
  </div>
</div>
<!-- MEDIA DIV 3 -->
<div class="media">
  <div class="media__image">
    <span class="wordpress__icon">
      <span class="icon icon--primary"></span>
    </span>
  </div>
  <div class="media__body">
    <h3 class="media__title">Dynamic Caching & More</h3>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet molestias
      hic itaque est ab quia accusantium quam porro suscipit consequuntur!
    </p>
  </div>
</div>
